<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Akasia API Test">
	<test name="Test Case 1">
		<classes>
			<class name="com.afour.automation.scripts.TestCreateNewUser_PostAPI_TC_2" />
		</classes>
	</test>
	 <test name="Test Case 2">

		<classes>
			<class name="com.afour.automation.scripts.TestLogin_GetAPI_TC_1" />
		</classes>
	</test>

	<test name="Test Case 3">

		<classes>
			<class
				name="com.afour.automation.scripts.TestGetListOfHyperVisors_GetAPI_TC_3" />
		</classes>
	</test> 
	
	
	<test name="Test Case 4">
		<classes>
			<class
				name="com.afour.automation.scripts.TestUploadInventory_PostAPI_TC4" />
		</classes>
	</test> 
	
	<test name="Test Case 5">
		<classes>
			<class
				name="com.afour.automation.scripts.TestGetListOfHostsUsingHypervisorID_GetAPI_TC5" />
		</classes>
	</test> 
	
	<listeners>
		<listener class-name="atu.testng.reports.listeners.ATUReportsListener" />
		<listener class-name="atu.testng.reports.listeners.ConfigurationListener" />
		<listener class-name="atu.testng.reports.listeners.MethodListener" />
	</listeners>
</suite>